Chat_bot_RAG/Chat_bot_RAG.json
{
  "name": "Chat_bot",
  "nodes": [
    {
      "parameters": {},
      "id": "975051dc-97cf-4eb1-82df-bfda53d001ba",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1260,
        2180
      ]
    },
    {
      "parameters": {
        "url": "https://rhcsa.guru/sitemap.xml",
        "options": {}
      },
      "id": "11aa192e-f67e-441e-965c-61434945f57f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        2040
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "05412aee-1fa6-40c8-adf0-a99f3a63c928",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1660,
        2240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "id": "fe3f6b24-baab-4b49-8e55-776003e315a3",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1820,
        2040
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7f07f7af-02ed-4545-94a8-9d0a9aa28237",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2060,
        2140
      ]
    },
    {
      "parameters": {},
      "id": "a8491387-5fc3-4508-82cb-426124f6b723",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        2140
      ],
      "webhookId": "9af87c5e-b07f-48dc-9ca8-61b471a24cad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d90c1ce-590e-40a5-ae8c-d92326032975",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "44df58d8-b0b7-4383-b0e6-0610e749fd59",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "088855c9-74c9-48e5-964b-a082842cd7ab",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3260,
        2140
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data[0].markdown }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "page",
                "value": "={{ $json.result.url }}"
              }
            ]
          }
        }
      },
      "id": "eed951e8-5545-409a-86ee-dc3aaf88f206",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3640,
        2140
      ]
    },
    {
      "parameters": {
        "chunkSize": 5000
      },
      "id": "faf9964c-c710-4a3a-a558-3207518be08a",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3780,
        2280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd9e1ef7-9cc8-44b0-98c7-7566c44f000b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        3480,
        2140
      ],
      "credentials": {
        "openAiApi": {
          "id": "uTggs91LdQwcwr7r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2bcdb54-e1fe-4670-99aa-6eec973bf5f1",
              "name": "task_id",
              "value": "={{ $('Wait').item.json.id || $('Wait').item.json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8e91830-afed-4adb-84e4-88e733c7ada9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3500,
        2340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "df6891f3-0d32-4afc-b6df-4f4090f85a5e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1840,
        780
      ],
      "webhookId": "0949763f-f3f7-46bf-8676-c050d92e6966"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "09f270af-2cfd-47bd-9709-d178fdbf12dd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2000,
        1000
      ],
      "credentials": {
        "openAiApi": {
          "id": "uTggs91LdQwcwr7r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "bfa90032-8ccb-41d4-8660-f595f9f15369",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2140,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "QFvvf3ESBNXqkG6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "pydantic_ai_docs",
        "description": "Retrieves data related to  RHCSA guru using their documentation."
      },
      "id": "f227cefa-ba9e-44cb-966a-f124d236ce39",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2480,
        900
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27c85811-2c41-4658-a999-24e02a41b949",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2240,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "uTggs91LdQwcwr7r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "63dd9d62-ee2a-49d2-ae6e-4e7d000750e7",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2620,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "uTggs91LdQwcwr7r",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "dc505857-ef30-484a-aee3-e3ca0de31af6",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3500,
        1920
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6BjgmwLOq5dXDRpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5a8ffd25-f9e2-4b60-aaa6-b012654b26ab",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2100,
        780
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "0b0e600e-22ba-45f4-97a7-1e3ca3553073",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2280,
        1060
      ],
      "credentials": {
        "supabaseApi": {
          "id": "6BjgmwLOq5dXDRpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Submit A Crawl Job",
        "url": "={{ $json.loc }}",
        "limit": 1,
        "allowBackwardLinks": false,
        "webhook": "={{ $json.loc }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        2280,
        2240
      ],
      "id": "07ee18eb-6607-410c-a962-d3c86ba51c17",
      "name": "FireCrawl",
      "credentials": {
        "fireCrawlApi": {
          "id": "SKQ26UgYGPorAuAN",
          "name": "FireCrawl account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Check Crawl Job Status",
        "crawl_id": "={{ $json.id || $json.task_id}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        2820,
        2140
      ],
      "id": "4b09ab29-6342-4952-98b1-61544c72a808",
      "name": "FireCrawl1",
      "credentials": {
        "fireCrawlApi": {
          "id": "SKQ26UgYGPorAuAN",
          "name": "FireCrawl account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "FireCrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "FireCrawl1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11886918-2a5f-4ac2-8565-9cdbc984b737",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4192df241493d2d7d3f0fc20f02452ba7aafdbe38e0242dd261f6fc0f587360"
  },
  "id": "KpawhCuPDOVmdnJM",
  "tags": []
}